.main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 4rem;
}
.greet-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.gretting-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
}

.greeting-main {
  display: flex;
  align-items: center;
  gap: 100px;
}

.greeting-main > * {
  flex: 1;
  margin-bottom: 30px;
}
.button-greeting-div {
  display: flex;
  margin-top: 20px;
}
.button-greeting-div > * {
  margin-right: 0.5rem;
}

.greeting-text {
  margin-top: 80px;
  font-size: 72px;
  line-height: 1.1;
  font-family: "Google Sans Bold";
}

.greeting-nickname {
  font-size: 30px;
  line-height: 0px;
  font-family: "Google Sans Bold Italic";
}

.greeting-text-p {
  font-size: 28px;
  line-height: 40px;
  margin-right: 40px;
  /* text-align: center; */
  font-family: "Google Sans Medium";
  font-style: italic;
}

.greeting-text-content {
  font-size: 20px;
  line-height: 40px;
  margin-right: 40px;
  font-family: "Google Sans Medium";
}

.greeting-image-div {
  display: flex;
  justify-content: center;
}

.greeting-image-div > * {
  width: 365px; /* fixed width to avoid stretching/shrinking */
  height: auto; /* preserve aspect ratio */
  border-radius: 26px;
}

.show-on-mobile {
  display: none;
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }
  .greeting-text-p {
    font-size: 22px;
  }
  .greeting-text-content {
    font-size: 18px;
  }
  .greeting-image-div > * {
    width: 340px;
  }
}
@media (max-width: 768px) {
  .button-greeting-div {
    justify-content: space-around;
  }
  .greeting-text {
    font-size: 30px;
    margin-top: 0px;
    text-align: center;
  }
  .greeting-nickname {
    font-size: 25px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 20px;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }
  .greeting-text-content {
    font-size: 16px;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }
  .greeting-main {
    display: block;
  }

  .button-greeting-div {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }

  .portfolio-repo-btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .show-on-desktop {
    display: none;
  }

  .show-on-mobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .greeting-image-div > * {
    width: 300px; /* fixed on small screens too */
  }
}
